@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

a,
a:hover {
    color: inherit;
    text-decoration: inherit;
}

/* HEADER W/ LOGOS */

.main-logo {
    height: 100%;
}

header h1 {
    font-weight: 900;
    font-size: 5em;
    position: relative;
    color: #006600;
}

.nested-row {
    height: 50% !important;
}

.logos div {
    height: 100%;
}

.logos {
    height: 60%;
}

.logos a {
    max-height: 100%;
}

.logo-wrapper {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 0 .5em;
}

.logo-wrapper img {
    max-height: 90%;
    /* max-height: 75px; */
}


/* MISSION */
.mission-bold {
    font-weight: bold;
}


/* BLOCKS */
#products .row {
    padding: 3px;
    background: #012168;
}

.block {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 3px solid #012168;
}


/* .row:nth-of-type(2) img {
    height: 70%;
} */

.block img {
    opacity: .85;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block img:hover {
    opacity: 1;
    transition: opacity .25s ease;
}

.block h2 {
    position: absolute;
    text-shadow: 2px 2px 3px #FFF;
    font-size: 2em;
    color: #000;
    bottom: 1em;
    left: .5em;
    font-weight: 500;
}

small {
    position: absolute;
    color: #FFF;
    bottom: .5em;
    left: 1em;
}

.outputs small {
    color: #203966;
    left: 2em;
}



/* DECISION SUPPORT TOOL*/

form {
    margin: auto;
}

/* OUTPUTS */
/* p.output-label {
    font-weight: bold;
    font-size: 2em;
} */

/* FOOTER */
.footer-title {
    font-weight: bold;
    font-size: 1.2em;
}


footer {
    background-color: #1b1b1b;
    border-top: 5px solid #666;
    color: #ccc;
    padding-bottom: 3rem;
}

.footer-pane {
    background-color: #333;
}

footer ul {
    margin: auto;
    color: #fff;
}


footer li {
    padding-right: 1em;
    font-size: 1.5em;
}

.footer-banner {
    text-align: center;
    color: #fff;
    font-weight: 500;
}

#mst-logo-gray img {
    display: block;
    margin: auto;
    width: 150px;
    position: relative;
    top: -50px;
}

li>p:first-of-type {
    margin-bottom: 0em;
    font-weight: 500;
}

.contacts h2 {
    margin-top: 1em;
}